$font-family-sans-serif: "Roboto", --apple-system, sans-serif;
$font-family-brand: "Roboto", --apple-system, sans-serif;
$border-radius: .75rem;
$input-border-radius: $border-radius;
$input-bg: #f1f1f1;
$input-height: auto;
$btn-font-weight: 600;
$input-padding-y: .5rem;
$line-height-base: 1.25;
$dark: #250048;
$light: #eae0f2;
$body-color: #000;
$primary: #6f2fab;
.font-weight-medium {
  font-weight: 500;
}
.qsand {
  font-family: $font-family-brand;
  font-weight: 700;
}
.fullrad {
  border-radius: 1000px!important;
}
.radx {
  border-radius: $border-radius;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  a {
    display: block;
    padding: .5rem 0;
    font-size: .75rem;
    color: inherit;
    &:hover {
      text-decoration: none;
    }
    span {
      display: block;
    }
    &.nuxt-link-exact-active {
      color: $primary!important;
      font-weight: 500;
      img {
        box-shadow: 0 0 0 2px $primary;
      }
    }
  }
}
.my-container {
  position: relative;
  min-height: 100vh;
}
.mx-40vw {
  @media screen and (min-width: 1024px) {
    max-width: 30vw!important;
  }
}
.kirimin-x {
  display: block;
  border: 1px solid #ced4da;
  text-align: center;
  border-radius: $border-radius;
  padding: 1rem;
  color: $body-color;
  img {
    width: 50px;
  }
  span {
    display: block;
  }
  width: 100px;
  height: 100px;
  margin-right: .75rem;
  font-size: .75rem;
  &:hover {
    text-decoration: none!important;
    box-shadow: 0 0 0 2px inset $primary;
    border-color: $primary;
    color: $primary;
    font-weight: 500;
  }
}
.btn {
  font-family: $font-family-brand!important;
}
.front-header {
  position: relative;
  overflow: hidden;
}
.track {
  position: relative;
  .form-control {
    padding-left: 35px;
  }
  label {
    position: absolute;
    display: flex;
    top: calc(50% - 10px);
    left: 10px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
.scroll-x {
  overflow: auto;
  white-space: nowrap;
  position: relative;
}

.scroll-x a {
  display: inline-block;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.introduction .scroll-x {
  a {
    img {
      width: 150px;
    }
  }
}
.freaker {
  svg {
    transform: translateY(-2px);
    margin-right: .5rem;
  }
}
.account-option {
  list-style: none;
  padding: 0;
  margin: 0;
  li:not(:last-child) {
    position: relative;
    &::after {
      position: absolute;
      left: 4rem;
      background: #dfdfdf;
      height: 1px;
      right: 0;
      bottom: 0;
      content: "";
    }
  }
  a {
    color: $body-color;
    display: block;
    padding: 1rem .75rem 1rem 4rem;
    position: relative;
    text-decoration: none!important;
    border-radius: 1rem;
    overflow: hidden;
    .icon {
      display: flex;
      border-radius: 1000px;
      position: absolute;
      left: .75rem;
      color: $dark;
      svg {
        width: 28px;
        height: 28px;
      }
    }
    &:hover {
      background: rgba($color: $primary,$alpha: .05);
    }
    span:not(.icon) {
      font-size: .75rem;
    }
  }
}
.page-header {
  margin: .75rem 0;
}
.elevated {
  box-shadow: 0 3px 4px 0 rgba(10,8,59,.1);
}
@import 'node_modules/bootstrap/scss/bootstrap';
